.body-container {
  display: grid;
  padding: 2rem;
  grid-template-rows: 90vh repeat(3, min-content) 200px;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 16rem) [col-end]
    )
    [center-end]
    1fr [full-end];
}

