.trendy-images {
  grid-column: col-start 2 / col-end 9;
  display: grid;
  grid-gap: 3rem;

  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  .images {
    max-width: 100%;

    height: 20rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.15);
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  figure {
    position: relative;

    .btn-container {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center;

      .btn {
        border-radius: 50px;
        // padding: 0 2rem 0 2rem;
        padding: 1rem 2rem;
        display: inline-block;
        transition: all 0.2s;
        cursor: pointer;
      }
    }

    &:hover {
      .btn-container {
        display: inline-block;
      }
    }
  }

  .images-footer {
    max-width: 92%;
    height: 5%;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
      justify-self: end;
    }
  }
}
