@import "../../index.scss";
.footer {
  display: grid;
  grid-column: full-start / full-end;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .foot {
    display: grid;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
}
